@import "./utils/variable";
@import "./base/fonts";
@import "./components/button";
@import "./layouts/contents";

body{
    height: auto;
}
#header__logo{
    width: 150px;
    height: 40px;
}
header div{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
#searchbar{
    @include searchbar__background;
}
input::placeholder{
    @include searchbar__text;
}
#explorer{
    @include explorer__background;
    padding: 30px;
    &__button{
        @include button--style;
        @include shadow;
    }
}
#operation{
   @include operation__background;
   margin-top: 30px;
    & ol{
        @include operation__background;
        height: 350px;
        & li{
            @include operation__list;
            @include shadow;
            &:hover{
                background-color: lighten($color-primary,30%);
                & .fas{
                    color: $color-primary;
                }
            }
            & p{
                margin-right: 100px;
            }
            & .operation__items{
                @include operation--number;
                margin-right: 10px;
                color: $white;
            }
            & .fas{
                color: $grey--dark;
                margin-right: 10px;
            }
        }
    }
}

#restaurants{
    @include restaurants--background;
    & h2{
        margin-top: 30px;
    }
    & #restaurants__list{
        @include restaurants__list--background;
        & .restaurant__card{
            @include card--size;
            @include shadow;
            & .restaurant__menu__img{
                @include card__img;
            }
            & .restaurant__menu{
                @include restaurant__menu--background;
                & .restaurant__menu__text{
                    @include menu;
                    width: 60%;
                }
                & .restaurant__menu__heart{
                    @include menu;
                    width: 20%;
                    align-items: center;
                    color: $text--color;
                }
            }
        }
    }
}

#footer__logo{
    width: 100px;
    height: 30px;
    fill: $white !important;
}
footer{
    @include footer__background;
   & p , a{
    color: $white;
   }
   & div{
       display: flex;
       flex-flow: row nowrap;
       & .fas{
           margin-right: 10px;
       }
   }
}


