@mixin searchbar__background{
    background-color: $grey;
    width: 100%;
    height: 50px; 
    border: 2px $grey--light inset;
    text-align: center;
}
@mixin searchbar__text{
    color: $text--color;
}
@mixin explorer__background{
    background-color: $grey--light;
    text-align: center;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    height: 150px;
}
@mixin operation__background{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 500px;
    width: 100%;
}
@mixin operation__list{
    background-color: $grey--light;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 50px;
    border-radius: 30px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@mixin operation--number{
    background-color: $color-primary;
    border-radius: 30px 30px;
    height: 30px;
    width: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@mixin restaurants--background{
    background-color: $grey--light;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 1300px;
}
@mixin restaurants__list--background{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}
@mixin restaurant__menu--background{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}
@mixin card--size{
    width: 90%;
    height: 280px;
    border-radius: 30px 30px;
    background-color: $white;
}
@mixin card__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
@mixin menu{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    margin: 10px;
}
@mixin shadow{
    box-shadow: 3px 3px 3px $grey--dark;
}
@mixin footer__background{
    padding: 30px;
    background-color: lighten($text--color,20%);
    color: $white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 180px;
}

/* Mixin Pages */

@mixin return{
    font-size: 25px;
}
@mixin menu__drawning__img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
@mixin menu--background{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%; 
    background-color: $grey--light;
}
@mixin menu__title{
    font-size: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    width: 90%;
}
@mixin dishes__background{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    margin: 20px;
    height: 340px;
}
@mixin menu__bloc__background{
    width: 100%;
    background-color: $white;
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 2px 2px 10px $grey--dark;
}
@mixin menu__title--font{
    font-weight: normal;
    font-size: 20px;
    border-bottom: 3px $color-tertiary solid;
    padding-bottom: 10px;
}
@mixin price__background{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    height: 80%;
    font-weight: bold;
    margin-bottom: 10px;
}

